<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="Logs/internal-nlog.log"
      throwConfigExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="logconsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=ToString,Data:maxInnerExceptionLevel=10}"
            xsi:type="Console" />
    <target name="logfile"
            archiveAboveSize="100000000"
            archiveDateFormat="yyy-MM-dd"
            archiveEvery="Day"
            encoding="utf-8"
            fileName="Logs/FnddsLoader.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=ToString,Data:maxInnerExceptionLevel=10}"
            maxArchiveFiles="10"
            xsi:type="File" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
